*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

main{
    border: 2px solid black;
    width: 350px;
    margin-inline: auto;
}

.RG{
    border: 1px solid black;
    display: inline-block;
    width: 200px;
    height: 200px;
}
a{
    border: 1px solid black;
    display: inline-block;
    width: 160px;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

.numeral1, .numeral2{
    display: inline-block;
    border: 1px solid black;
    width: 90px;
    height: 100px;
}
.numeral2{
    margin-left: -16px;
}

footer{
    border: 1px solid black;
    margin: 10px 20px 30px 40px;
}

.slaman > p{
    margin-top: 10px;
    border: 1px solid gray;
}

.PenaDeMorte{
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid gray;
}

.sentencaDeMorte{
    margin-top: 20px;
    border: 1px solid gray;
    margin-bottom: 15px;

}